<form method=POST>
	<table>
		<tr> 
			<td>Введіть n i m </td> 
			<td><textarea name=n cols=18 rows=1></textarea></td><td><textarea name=m cols=18 rows=1></textarea></td>
		</tr>
		<tr>
			<td>Введіть значення ξ </td>
			<td colspan=2><textarea name=xi cols=40 rows=1></textarea></td>
		</tr>
		<tr>
			<td>Введіть значення η </td>
			<td colspan=2><textarea name=eta cols=40 rows=1></textarea></td>
		</tr>
		<tr>
			<td>Введіть матрицю випадкового вектора </td>
			<td colspan=2><textarea name=matrix cols=40 rows=5></textarea></td>
		</tr>
	</table>
	<input type=submit>
</form>