<form method="POST">
	<table class="input">
		<tr> 
			<td>Введіть n i m </td> 
			<td><textarea name="n" cols="8" rows="1"></textarea></td><td><textarea name="m" cols="8" rows="1"></textarea></td>
		</tr>
		<tr>
			<td>Введіть значення ξ </td>
			<td colspan="2"><textarea name="xi" cols="20" rows="1"></textarea></td>
		</tr>
		<tr>
			<td>Введіть значення η </td>
			<td colspan="2"><textarea name="eta" cols="20" rows="1"></textarea></td>
		</tr>
		<tr>
			<td>Введіть матрицю<br> випадкового вектора </td>
			<td colspan="2"><textarea name="matrix" cols="20" rows="5"></textarea></td>
		</tr>
	</table>
	<br>
	<input type="submit" value="Розрахувати">
</form>