<!DOCTYPE html>
<html>
	<head>
		<title>Теорія Імовірностей</title>
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<%= yield %>
		<!--audio controls="controls" autoplay loop>
			<source src="/music/testsong.mp3">
		</audio-->
		<footer>
			Copyright &copy; 2016 Vlad Yermakov
		</footer>
	</body>
</html>