<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra project</title>
		<link rel=stylesheet href="/assets/style.css">
	</head>
	<body>
		<%= yield %>
		<!--audio controls="controls" autoplay loop>
			<source src="/music/testsong.mp3">
		</audio-->
	</body>
</html>